<!DOCTYPE html>
<html>
  <head>
    <title>PTO Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="libs/bootstrap-3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- jquery-ui datapicker -->
    <link href="libs/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <!-- Custom styles for PTO2 application -->
    <link href="css/pto2.css" rel="stylesheet">
  </head>

  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- PTO Navbar that stays fixed at the top of our page (start) -->
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PTO Admin</a>
          </div>

          <div class="navbar-collapse collapse">
            <ul id="navbarlist" class="nav navbar-nav">
              <li class="requests"><a href="">Requests</a></li>
              <li class="users"><a href="">Users</a></li>
              <li class="holidays"><a href="">Holidays</a></li>
              <li class="log"><a href="">Log</a></li>
            </ul>

            <div id="loginContainer">
              <form class="navbar-form navbar-right login">
                <div class="form-group">
                  <input type="text" id="loginEmail" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" id="loginPassword" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>

              <form class="navbar-form navbar-right logout hidden">
                <div class="form-group">
                  <p id="currentUserMsg" class="text-info text-left"></p>
                </div>
                <button type="submit" class="btn btn-success">Sign Out</button>
              </form>
            </div><!--/loginContainer-->

          </div><!--/.navbar-collapse -->
        </div><!--/.container -->
      </div><!--/.navbar -->
      <!-- PTO2 Navbar that stays fixed at the top of our page (end) -->

    <div class="row" id="messageContainerRow">
    <div class="col-md-12">
    <div id="messageContainer"></div>
    </div>
    </div>


      <div id="appContainer">

      <!-- <div class="row" id="messageContainerRow">
      <div class="col-md-12">
      <div id="messageContainer"></div>
      </div>
      </div> -->

      <div class="row splash">     
        <!-- Main jumbotron for our splashscreen -->
        <div class="jumbotron">
          <div class="container marketing">
            <h1>Paid Time Off</h1>
            <p>Create new Users. Review PTO Requests. Set your Holidays for the year and more.</p>
          </div>
        </div><!--/jumbotron-->

        <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Requests</h2>
            <p>Review the Paid Time Off Requests.</p>
          </div>
          <div class="col-md-4">
            <h2>Users</h2>
            <p>Create new users. Manage their account.</p>
          </div>
          <div class="col-md-4">
            <h2>Holidays</h2>
            <p>Setup your Company Holidays. </p>
         </div>
        </div>
        </div>
      </div><!--/splash-->

      <div class="hidden app"> 



        <div class="container log hidden">
        <div class="row">
        <div class="col-md-12">
          <h3>Log</h3>

            <div class="panel panel-default">
              <div id="logToolBar" class="panel-body">
                <form class="form-inline"> 
                <div class="form-group">
                  <label class="sr-only" for="logStart">Start Date</label>
                  <input type="text" class="form-control" id="logStart" placeholder="Start Date">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="logEnd">End Date</label>
                  <input type="text" class="form-control" id="logEnd" placeholder="End Date">
                </div>
                <button type="submit" class="btn btn-default searchLogs">Search</button>
                <button type="submit" class="btn btn-default allLogs">All Requests</button>
              </form>
              </div>
            </div>

          <!-- Log Table (start) -->
          <div class='row'>
          <div class='col-sm-12'>

          <div class="panel panel-default">
          <div class="panel-body">
          <div id="logTable" class="table-responsive">  <!--/table-responsive-->

            <table class="table">
            <thead>
              <tr>
                <th class="column160">Dataclass</th>
                <th class="column160">Kind</th>
                <th class="column160">Date</th>
                <th class="column160">Owner</th>
                <th class="column160">User Logged In</th>
                <th class="column160"></th>
              </tr>
            </thead>
            </table>

            <table class="table table-hover "> <!--/table-condensed-->
            <tbody id="logTableBody">
            </tbody>
            </table>

            </div>
            </div>
            </div>

            <div class="panel panel-default">
              <div id="logToolBarPaging" class="panel-body">
                <button type="submit" class="btn btn-default btn-primary prevLogs">Prev</button>
                <button type="submit" class="btn btn-default btn-primary nextLogs">Next</button>
                <h5 id="logGridMessage" class="pull-right"></h5>
              </div>
            </div>

          </div>
          </div>
          <!-- log Table (end) -->


        </div><!--/col-md-12-->
        </div><!--/row-->
        </div><!--/log container-->







        <div class="container requests">
        <div class="row">
        <div class="col-md-12">
          <h3>Requests</h3>
         
            <div class="panel panel-default">
              <div id="requestToolBar" class="panel-body">
                <form class="form-inline"> <!--role="form"-->
                <div class="form-group">
                  <label class="sr-only" for="requestStart">Start Date</label>
                  <input type="text" class="form-control" id="requestStart" placeholder="Start Date">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="requestEnd">End Date</label>
                  <input type="text" class="form-control" id="requestEnd" placeholder="End Date">
                </div>
                <button type="submit" class="btn btn-default searchRequests">Search</button>
                <button type="submit" class="btn btn-default allRequests">All Requests</button>
                <!-- <button type="submit" class="btn btn-default prevRequests">Prev</button>
                <button type="submit" class="btn btn-default nextRequests">Next</button> -->
              </form>
              </div>
            </div>
         
          <div class="panel panel-default">
          <div class="panel-body">
          <div id="requestTable" class="table-responsive">  <!--/table-responsive-->
          
            <table class="table">
            <thead>
              <tr>
                <th class="column40">#</th>
                <th class="column160">Name</th>
                <th class="column120">Date</th>
                <th class="column60">Hours</th>
                <th class="column160">Compensation</th>
                <th class="column80">Status</th>
                <th class="column120">Checked</th>
                <th class="column120"></th>
                <th class="column120"></th>
              </tr>
            </thead>
            </table>

            <div> <!--/class="scrollable-area"-->
            <table class="table table-hover "> <!--/table-condensed--> 
            <tbody id="requestTableBody">
            </tbody>
            </table>
            </div>

          </div><!--/Request table-responsive-->
          </div>
          </div>
            
         

          <div class="panel panel-default">
            <div id="requestToolBarPaging" class="panel-body">
              <button type="submit" class="btn btn-default btn-primary prevRequests">Prev</button>
              <button type="submit" class="btn btn-default btn-primary nextRequests">Next</button>
              <h5 id="requestGridMessage" class="pull-right"></h5>
            </div>
          </div>

        </div><!--/col-md-12-->
        </div><!--/row-->
        </div><!--/request container-->






        <div class="container users hidden">
        <div class="row">
        <div class="col-md-12">
          <h3>Users</h3>
          <!-- <hr class='hr-double'> -->
          <br>

          <div class='row'>
            <div class='col-sm-12'>
            <div class="panel panel-default">
              <div id="userToolBar" class="panel-body">
                <button type="button" class="btn btn-primary newUser" data-toggle="modal" href="#editUserModalWin">New User</button>
              </div>
            </div>
            </div>
          </div>
         
          <!-- User Table (start) -->
          <div class='row'>
          <div class='col-sm-12'>

          <div class="panel panel-default">
          <div class="panel-body">
          <div id="userTable" class="table-responsive">  <!--/table-responsive-->

          <!-- <div class="table-responsive"> -->
          <!-- <table class="table table-hover table-condensed"> -->
            <table class="table">
            <thead>
              <tr>
                <th class="column160">Name</th>
                <th class="column160">Email</th>
                <th class="column160">Role</th>
                <th class="column160"></th>
                <!-- <th></th> -->
              </tr>
            </thead>
            </table>

            <div class="scrollable-area">
            <table class="table table-hover "> <!--/table-condensed-->
            <tbody id="userTableBody">
            </tbody>
            </table>
            </div>

            </div>
            </div>
            </div>
          </div><!--/user table-responsive-->

          </div>
          </div>
          <!-- User Table (end) -->

        </div><!--/col-md-12-->
        </div><!--/row-->
        </div><!--/users container-->



        <div class="container holidays hidden">
        <div class="row">
        <div class="col-md-12">
          <h3>Holidays</h3>
          <!-- <br> -->

          <div class='row'>
            <div class='col-sm-12'>
            <div class="panel panel-default">
              <div id="holidayToolBar" class="panel-body">
                <button type="button" class="btn btn-primary newHoliday" data-toggle="modal" href="#editHolidayModalWin">New Holiday</button>
              </div>
            </div>
            </div>
          </div>


          <!-- Holiday Table (start) -->
          <div class='row'>
          <div class='col-sm-12'>

          <div class="panel panel-default">
          <div class="panel-body">
          <div id="holidayTable" class="table-responsive">  <!--/table-responsive-->

          <!-- <div class="table-responsive"> -->
          <!-- <table class="table table-hover table-condensed"> -->
            <table class="table">
            <thead>
              <tr>
                <th class="column160">#</th>
                <th class="column160">Title</th>
                <th class="column160">Date</th>
                <th class="column160"></th>
                <!-- <th></th> -->
              </tr>
            </thead>
            </table>

            <div class="scrollable-area">
            <table class="table table-hover "> <!--/table-condensed-->
            <tbody id="holidayTableBody">
            </tbody>
            </table>
            </div>

            </div>
            </div>
            </div>
          </div><!--/holiday table-responsive-->

          </div>
          </div>
          <!-- Holiday Table (end) -->

        </div><!--/col-md-12-->
        </div><!--/row-->
        </div><!--/holiday container-->



      </div><!--/app-->
      </div><!--/appContainer-->
    </div><!--/wrap-->

    <div id="footer">
      <div class="container">
        <hr>
        <p>&copy; 4D US 2014</p>
      </div>
    </div>


    

       <!-- Delete Request Modal (start) -->
    <div class="modal fade" id="delRequestModalWin" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete Request</h4>
          </div>
          <div class="modal-body"> 
            
            <form role="form">
              <div class="row">
                <div class="col-xs-2">
                  <label for="requestId">ID</label>
                </div>
                <div class="col-xs-4">
                  <p class="requestId" id="requestId"></p>
                </div>
                <div class="col-xs-2">
                  <label for="requestDate">Date</label>
                </div>
                <div class="col-xs-4">
                  <p class="requestDate" id="requestDate"></p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-2">
                  <label for="requestHours">Hours</label>
                </div>
                <div class="col-xs-4">
                  <p class="requestHours" id="requestHours"></p>
                </div>
                <div class="col-xs-2">
                  <label for="requestStatus">Status</label>
                </div>
                <div class="col-xs-4">
                  <p class="requestStatus" id="requestStatus"></p>
                </div>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary deleteRequest" data-dismiss="modal">Delete Request</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Delete Request Modal (end) -->





     <!--Edit Request Modal Dialog-->
    <div class='modal fade' id='editRequestModalWin' tabindex='-1'>
    <div class='modal-dialog'>
    <div class='modal-content'>

    <div class='modal-header'>
      <h4 class='modal-title' id='myModalLabel'>Edit Request</h4>
    </div>

    <div class='modal-body'>
      <form class="form-stacked"  method="post" action="#" role="form"> 

        <div class="row">
         <div class="col-xs-12">
          <label for='payrollChecked'>Payroll Checked</label>
          <input type="checkbox" id="payrollChecked">
        </div>
      </div><!--/class="row"-->

      </form>
    </div>

    <div class='modal-footer'>
      <button  class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
      <button  class='btn btn-primary save' data-dismiss='modal' type='button'>Save</button>
    </div>

    </div>
    </div> 
    </div>
    <!--End Edit Request Modal Dialog-->





     <!--Edit Holiday Modal Dialog-->
    <div class='modal fade' id='editHolidayModalWin' tabindex='-1'>
    <div class='modal-dialog'>
    <div class='modal-content'>

    <div class='modal-header'>
      <h4 class='modal-title' id='myModalLabel'>Holiday</h4>
    </div>

    <div class='modal-body'>
    <form class="form-stacked"   role="form">
      <!-- <div class="col-xs-12">
        <label for='holidayId'>#</label>
        <input class='form-control' id='holidayId'  type='text'>
      </div> -->

      <div class="col-xs-12">
        <label for='holidayTitle'>Title</label>
        <input class='form-control' id='holidayTitle'  type='text'>
      </div>

      <div class="col-xs-12">
        <label for='holidayDateString'>Date</label>
        <input class='form-control' id='holidayDateString'  type='text'>
      </div>

    <hr class='hr-normal'>
    </form>
    </div><!--/class='modal-body'-->

    <div class='modal-footer'>
      <button  class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
      <button  class='btn btn-primary save' data-dismiss='modal' type='button'>Save</button>
    </div>

    </div>
    </div>
    </div>
    <!--End Edit Holiday Modal Dialog-->





    <!--View Log Modal Dialog-->
    <div class='modal fade' id='viewLogModalWin' tabindex='-1'>
    <div class='modal-dialog'>
    <div class='modal-content'>

    <div class='modal-header'>
      <h4 class='modal-title' id='myModalLabel'>Log Detail</h4>
    </div>

    <div class='modal-body'>
    <form class="form-stacked"   role="form">

    <div class="row">
       <div class="col-xs-6">
        <label for='logId'>#</label>
        <input class='form-control' id='logId'  type='text'>
      </div>
      <div class="col-xs-6">
        <label for='logCreateDateStr'>Date</label>
        <input class='form-control' id='logCreateDateStr'  type='text'>
      </div>
    </div>

    <div class="row">
    <div class="col-xs-6">
      <label for='logDataClassName'>Dataclass</label>
      <input class='form-control' id='logDataClassName'  type='text'>
    </div>
     <div class="col-xs-6">
      <label for='logEventName'>Event</label>
      <input class='form-control' id='logEventName'  type='text'>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <label for='logOwnerName'>Owner</label>
      <input class='form-control' id='logOwnerName'  type='text'>
    </div>
     <div class="col-xs-6">
      <label for='logUsername'>User Logged In</label>
      <input class='form-control' id='logUsername'  type='text'>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <label for='logErrorMsg'>Error Msg</label>
      <input class='form-control' id='logErrorMsg'  type='text'>
    </div>
  </div>

  

  <div class="row">
    <div class="col-xs-12">
      <label for='attrsBefore'>Attributes Before Update</label>
      <textarea class="form-control" rows="3" id="attrsBefore"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <label for='attrsAfter'>Attributes After Update</label>
      <textarea class="form-control" rows="3" id="attrsAfter"></textarea>
    </div>
  </div>



    <hr class='hr-normal'>
    </form>
    </div> <!--/modal-body-->


    <div class='modal-footer'>
      <button  class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
    </div> <!--/modal-footer-->

    </div>
    </div>
    </div> <!--/viewLogModalWin -->
    <!--End View Log Modal Dialog-->





    <!--Edit User Modal Dialog-->
    <div class='modal fade' id='editUserModalWin' tabindex='-1'>
    <div class='modal-dialog'>
    <div class='modal-content'>
    
    <div class='modal-header'>
      <h4 class='modal-title' id='myModalLabel'>User</h4>
    </div>
    
    <div class='modal-body'>
    <form class="form-stacked"   role="form">  <!--/method="post" action="#"-->
      <div class="row">
        <div class="col-xs-6">
          <label for='fullName'>Name</label>
          <input class='form-control' id='fullName'  type='text'>
        </div>

        <div class="col-xs-6">
          <label for='role'>Role</label>
          <select id="role" class="form-control">
            <option value="Employee">Employee</option>
            <option value="Manager">Manager</option>
            <option value="Payroll">Payroll</option>
            <option value="Administrator">Administrator</option>
          </select>
        </div><!--/class="col-xs-6"-->
      </div>

      <div class="row">
        <div class="col-xs-6">
          <label for='email'>Email</label>
          <input class='form-control' id='email'  type='text'>
        </div>
        <div class="col-xs-6">
          <label for='managerSelect'>Manager</label>
          <select id="managerSelect" class="form-control">
          </select>
        </div>
      </div><!--/class="row"-->

      <div class="row">
         <div class="col-xs-6">
          <label for='floatingDays'>Floating Days</label>
          <input class='form-control' id='floatingDays'  type='text'>
        </div>
        <div class="col-xs-6">
          <label for='ptoHours'>PTO Hours</label>
          <input class='form-control' id='ptoHours'  type='text'>
        </div>
      </div><!--/class="row"-->

      <div class="row">
        <div class="col-xs-6">
          <label for='compDays'>Comp Days</label>
          <input class='form-control' id='compDays'  type='text'>
        </div>
        <div class="col-xs-6">
          <label for='ptoAccrualRate'>Accrual Rate</label>
          <input class='form-control' id='ptoAccrualRate'  type='text'>
        </div>
      </div><!--/class="row"-->

      <div class="row">
         <div class="col-xs-6">
          
        </div>
        <div class="col-xs-6">
          <label for='password'>Password</label>
          <input class='form-control' id='password'  type='password'>
        </div>
      </div><!--/class="row"-->


    <hr class='hr-normal'>
    </form>
    </div>

    <div class='modal-footer'>
      <button  class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
      <button  class='btn btn-primary save' data-dismiss='modal' type='button'>Save</button>
    </div>

    </div>
    </div>
    </div>
    <!--End Edit User Modal Dialog-->




    <script type="text/template" id="manager-options-template">
       <option value="<%= id %>"><%= fullName %></option>
    </script>


    <script id="message-template" type="text/template">
      <div class="alert <%= contextualClass %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <%= title %>
      </div>
    </script>

    <script type="text/template" id="requests-template">
        <div class="requestLineItemTopRow">
          <div class="requestLineItemLeft"><em><%= dateString %></em></div>
          <div class="requestLineItemRight"><%= hours %> hours - <%= status %></div>
        </div>
        <div style="clear: both;"></div>
    </script>

    <script id="requests-table-template" type="text/template">
      <td class="column40"><%= id %></td>
      <td class="column160"><%= ownerName %></td>
      <td class="column120"><%= dateString %></td>
      <td class="column60"><%= hours %></td>
      <td class="column160"><%= compensation %></td>
      <td class="column80"><%= status %></td>
      <td class="column120"><%= payrollChecked %></td>
      <td class="column120"><button type="button" class="btn btn-primary payrollcheck">Check</button></td>
      <td class="column120"><a class="btn btn-primary deleteRequest" data-toggle="modal" href="#delRequestModalWin" role="button">Delete</a></td>
    </script>


    <script id="user-template" type="text/template">
      <td class="column160"><%= fullName %></td>
      <td class="column160"><%= email %></td>
      <td class="column160"><%= role %></td>
      <td class="column160"><a class="btn btn-primary edit" data-toggle="modal" href="#editUserModalWin" role="button">Edit</a></td>
    </script>


    <script id="holiday-template" type="text/template">
      <td class="column160"><%= id %></td>
      <td class="column160"><%= title %></td>
      <td class="column160"><%= dateString %></td>
      <td class="column160"><a class="btn btn-primary edit" data-toggle="modal" href="#editHolidayModalWin" role="button">Edit</a></td>
    </script>

    <script id="log-template" type="text/template">
      <td class="column160"><%= dataClassName %></td>
      <td class="column160"><%= kind %></td>
      <td class="column160"><%= createDateStr %></td>
      <td class="column160"><%= ownerName %></td>
      <td class="column160"><%= userName %></td>
      <td class="column160"><a class="btn btn-primary view" data-toggle="modal" href="#viewLogModalWin" role="button">View</a></td>
    </script>

    <script id="request-grid-message-template" type="text/template">
      <%= title %>
    </script>

    <script id="log-grid-message-template" type="text/template">
      <%= title %>
    </script>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins and  some Bootstrap features) -->
    <script src="libs/jquery-1.10.2.min.js" type="text/javascript"></script>
    <!-- Backbone's only hard dependency is Underscore.js -->
    <script src="libs/underscore-min.js" type="text/javascript"></script>
    <script src="libs/backbone-min.js" type="text/javascript"></script>
    <!-- For Bootstrap - Include all compiled plugins (below), or include individual files as needed -->
    <script src="libs/bootstrap-3.0.2/js/bootstrap.min.js"></script>
     <!-- jquery-ui datepicker. -->
    <script src="libs/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js"></script>
    <!--date library-->
    <script src="libs/moment.min.js"></script>
    <!-- Now let's load our application specific Javascript. -->
    <script type="text/javascript" src="/js/PTO_Utility.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>

  </body>
</html>