<td class="column160"> {{id}} </td>
<td class="column160"> {{title}} </td>
<td class="column160"> {{dateString}} </td>
<td class="column160">
	<a class="btn btn-primary edit" data-toggle="modal" href="#editHolidayModalWin" role="button">Edit</a>
</td>