<td class="column160"> {{fullName}} </td>
<td class="column160"> {{email}} </td>
<td class="column160"> {{role}} </td>
<td class="column160"><a class="btn btn-primary edit" data-toggle="modal" href="#editUserModalWin" role="button">Edit</a></td>
